<!-- Dimensions robot -->
<xacro:property name="robot_length" value="0.57"/>
<xacro:property name="robot_width"  value="0.40"/>
<xacro:property name="robot_total_height" value="0.30"/>

<!-- Plateaux -->
<xacro:property name="plate_thickness" value="0.01"/>

<!-- Roues hoverboard -->
<xacro:property name="wheel_diameter" value="0.165"/>
<xacro:property name="wheel_radius" value="0.0825"/>
<xacro:property name="wheel_width" value="0.08"/>

<!-- Distance réelle entre centres des roues -->
<xacro:property name="wheel_separation" value="0.48"/>

<!-- Roues centrées longitudinalement -->
<xacro:property name="wheel_x" value="0.0"/>

<!-- LiDAR -->
<xacro:property name="laser_height" value="0.24"/>
<xacro:property name="laser_x" value="0.0"/>
<xacro:property name="laser_y" value="0.0"/>

<!-- IMU -->
<xacro:property name="imu_x" value="0.0"/>
<xacro:property name="imu_y" value="0.0"/>
<xacro:property name="imu_z" value="0.29"/>

<!-- Masse estimée -->
<xacro:property name="body_mass" value="10.0"/>
